<div class="container">
    <h1>WelCome User</h1>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            
            <div class="main">
                <h4>Deposit Form</h4><br>
            <form action="#">
            
            
            <input id="log" type="text" class="text" placeholder="Account number"><br><br>
            
            <input id="pass" type="password" class="text" placeholder="Password" ><br> <br>
            <input id="amo" type="text" class="text" placeholder="Amount"><br><br>
            <input type="submit" value="Deposit" class="button button1 butefct" > <br><br>
        </form>
        </div>  
    </div>
    <div class="col-4"></div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="main">
                <h4>Withdraw Form</h4><br>
    <form action="#">
            
            
        <input id="log" type="text" class="text" placeholder="Account number"><br><br>
        
        <input id="pass" type="password" class="text" placeholder="Password" ><br> <br>
        <input id="amo" type="text" class="text" placeholder="Amount"><br><br>
        <input type="submit" value="Withdrawal" class="button butefct" > <br><br>
        </form></div>
</div>
</div>
<div class="col-4"></div>
</div>

        