<div class="container">
    <h1 appHighlight>Welcome {{user}}</h1>
    <h4>Login Details (Unformatted) : {{lDate}} </h4>
    <h4>Login Details (Formatted) : {{lDate | date | uppercase}} </h4>
    <h4>Login Details (Formatted) : {{lDate | date : 'medium'}} </h4>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            
            <div [ngClass]="acno?'style1':'' " class="main">
                <h4>Deposit Form</h4><br>
            <form  [formGroup]="depositForm" (ngSubmit)="deposit()">
            
            
            <input id="log" type="text" class="text" name = "accno" formControlName="acno" placeholder="Account number"><br>
            <div *ngIf="(depositForm.get('acno')?.touched || depositForm.get('acno')?.dirty) && depositForm.get('acno')?.errors" class="error">Invalid Account Number</div><br>
           
            <input id="pass" type="password" class="text" name="pswd" formControlName="pswd" placeholder="Password" ><br> 
            <div *ngIf="(depositForm.get('pswd')?.touched || depositForm.get('pswd')?.dirty) && depositForm.get('pswd')?.errors" class="error">Invalid Password</div><br> 
            
            <input id="amo" type="text" class="text" name=" amount" formControlName="amount" placeholder="Amount"><br>
            <div *ngIf="(depositForm.get('amount')?.touched || depositForm.get('amount')?.dirty) && depositForm.get('amount')?.errors" class="error">Invalid Amount</div><br> 
            
            <input type="submit" value="Deposit" class="button button1 butefct" > <br><br>
        </form>
        </div>  
    </div>
    <div class="col-4"></div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div  [ngClass]="acno?'style1':'' " class="main">
                <h4>Withdraw Form</h4><br>
    <form [formGroup]="withdrawForm" (ngSubmit)="withdraw()">
            
            
        <input id="log1" type="text" class="text" name = "accno" formControlName="acno" placeholder="Account number"><br>
            <div *ngIf="(withdrawForm.get('acno')?.touched || withdrawForm.get('acno')?.dirty) && withdrawForm.get('acno')?.errors" class="error">Invalid Account Number</div><br>
           
            <input id="pass1" type="password" class="text" name="pswd" formControlName="pswd" placeholder="Password" ><br> 
            <div *ngIf="(withdrawForm.get('pswd')?.touched || withdrawForm.get('pswd')?.dirty) && withdrawForm.get('pswd')?.errors" class="error">Invalid Password</div><br> 
            
            <input id="amo1" type="text" class="text" name=" amount" formControlName="amount" placeholder="Amount"><br>
            <div *ngIf="(withdrawForm.get('amount')?.touched || withdrawForm.get('amount')?.dirty) && withdrawForm.get('amount')?.errors" class="error">Invalid Amount</div><br>  
        
        
        <input type="submit" value="Withdrawal" class="button butefct" > <br><br>
        </form></div><br>
<app-delete-confirmation (onDelete)="onDelete($event)"   (onCancel)="onCancel()" [item]="acno"></app-delete-confirmation>
        <br><br>
<button  type="submit" class="button butefct" (click)="deleteAcc()">Delete Account</button>
</div>

</div>

<div class="col-4"></div>
</div>


        