<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            
            <div class="main">
                <h4>Welcome To YES Bank <br>

                <h5>Register Form</h5> </h4><br>

           <form [formGroup]="registerForm" (ngSubmit)="register()">

            <input id="uname" type="text" class="text" name="uname"  formControlName= "uname" placeholder="User Name"><br>
            <div *ngIf="(registerForm.get('uname')?.touched || registerForm.get('uname')?.dirty) && registerForm.get('uname')?.errors" class="error">Invalid User Name</div><br>
            
            <input id="accnotext" type="text" class="text" name="acno" formControlName= "acno" placeholder="Account number"><br>
            <div *ngIf="(registerForm.get('acno')?.touched || registerForm.get('acno')?.dirty) && registerForm.get('acno')?.errors" class="error">Invalid Account Number</div><br>
            
            <input id="pwdtext" type="password" class="text" name="pswd" formControlName= "pswd" placeholder="Password" ><br> 
            <div *ngIf="(registerForm.get('pswd')?.touched || registerForm.get('pswd')?.dirty) && registerForm.get('pswd')?.errors" class="error">Invalid Password</div><br>         
           
               
           <div class="line"></div>
                <input type="submit" value="Register" class="button button1 butefct"> <br><br>

                <a routerLink="">Log In</a>
            </form>
        </div>
        </div>
    
        <div class="col-4"></div>
    </div>
</div>
